@charset "UTF-8";

#arch {
	z-index: 3;
	position: absolute;
	top: 93px;
	height: 333px;
	width: 395px;
	left: 17px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-image: url(arch.jpg);
	background-repeat: no-repeat;
            }
#library {
	z-index: 4;
	position: absolute;
	top: 92px;
	height: 353px;
	width: 500px;
	left: 17px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-image: url(library.jpg);
	background-repeat: no-repeat;
            }
#grady {
	z-index: 5;
	position: absolute;
	top: 92px;
	height: 288px;
	width: 400px;
	left: 8px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-image: url(grady.JPG);
	background-repeat: no-repeat;
            }
#stadium {
	z-index: 6;
	position: absolute;
	top: 92px;
	height: 344px;
	width: 481px;
	left: 8px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-image: url(stadium.jpg);
	background-repeat: no-repeat;
            }
#geography {
	z-index: 7;
	position: absolute;
	top: 92px;
	height: 341px;
	width: 474px;
	left: 8px;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-image: url(geography.jpg);
	background-repeat: no-repeat;
            }
#text {
	float: left;
	height: 2000px;
	width: 411px;
	margin-right: 11px;
}
#uga {
	background-image: url(ncampus.gif);
	height: 850px;
	width: 606px;
	position: absolute;
	left: 451px;
	top: 18px;
	z-index: 1;
	background-repeat: no-repeat;
}
#tellme {
	z-index: 5;
	position: absolute;
	top: 7px;
	height: 23px;
	width: 39px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	background-color: #FFF;
	left: 350px;
            }
