@font-face {
    font-family: doors;
    src: url(densmore.ttf)
}

#holder {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

#banner {
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    font-family: doors;
}

body {
    background-color: #3d4147;
    background-image: url(images/bg2.jpg);
    overflow-y: hidden;
    background-attachment: fixed;
}

.bkg {
    background-image: url(images/bg2.jpg);
    filter: blur(5px);
}

.draggable {
    width: 160px;
    height: 200px;
    float: left;
    align-content: center;
    padding: 10px 10px 10px 10px;
}

#droppable {
    width: 200px;
    height: 200px;
    float: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-width: 3px;
    border: 5px solid #000000;
    border-radius: 28px;
    font-size: 33px;
    text-align: center;
}

.divholder {
    float: left;
}

#listing {
    margin-left: 10px;
    background-color: #25282d;
    height: 50px;
    width: 48%;
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: .63%
}

h2 {
    line-height: 20%;
}

h3 {
    color: forestgreen;
}

#result h3 {
    font-size: 100px;
}

h4 {
    line-height: 30%;
}

h5 {
    color: #aeb0b2;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#track {
    width: 100%;
    height: 40px;
}

#result table {
    width: 100%;
    max-height: 60%;
    padding: none;
    margin: none;
}

td {
    width: 50%;
    padding-left: 10px;
    vertical-align: baseline;
}

#result img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:74%;
    max-width: 98%;
    padding-bottom: 6px;
}

#play {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

#progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: transparent;
}

#progress:hover #bar {
    height:25px;
}

#bar {
    width: 0%;
    height: 3px;
    background-color: forestgreen;
    text-align: right;
    cursor: w-resize;
}

#time {
    width: 0%;
    height: 3px;
    background-color: transparent;
    text-align: right;
}

.button {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}


/*GOOD SOUL*/

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}