#barsresults {
    display: none;
}

#resultbars {
    display: none;
}

#filloutform {
    display: block;
}

#code {
    display: none;
}

#generate {
    display: block;
}

#bars {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#demobars {
    display: none;
    height: 100%;
}

#demobarstable, #tags {
    width: 100%;
}

#tags {
    height: 30px;
}

#demobarstable {
    height: 110px;
}

#demobarstable td {
    padding: 1px;
    vertical-align: bottom;
}

#mainpagebars {
    height: 90px;
    z-index: -2;
}

#mainpagebars td {
    padding: 1px;
    vertical-align: bottom;
}

#db1,
#db3,
#db5,
#db7,
#db9,
#db11,
#db13,
#db15,
#db17,
#db19,
#db21,
#db23,
#db25,
#db27,
#db29,
#db31,
#db33,
#db35,
#db37,
#db39,
#db41,
#db43,
#db45,
#db47,
#db49{
    background-color: #000000;
    opacity: 1;
}

#db2,
#db4,
#db6,
#db8,
#db10,
#db12,
#db14,
#db16,
#db18,
#db20,
#db22,
#db24,
#db26,
#db28,
#db30,
#db32,
#db34,
#db36,
#db38,
#db40,
#db42,
#db44,
#db46,
#db48,
#db50{
    background-color: #000000;
    opacity: .5;
}










#resultsbars {
    width: 100%;
    display: none;
    height: 500px;
}

#resultbarstable {
    width: 100%;
    height: 510px;
}

#resultbarstable td {
    width: 80px;
    padding: 1px;
    vertical-align: bottom;
}

#rb1,
#rb3,
#rb5,
#rb7,
#rb9,
#rb11,
#rb13,
#rb15,
#rb17,
#rb19,
#rb21,
#rb23,
#rb25,
#rb27,
#rb29,
#rb31,
#rb33,
#rb35,
#rb37,
#rb39,
#rb41,
#rb43,
#rb45,
#rb47,
#rb49,
#rb51,
#rb53,
#rb55,
#rb57,
#rb59{
    background-color: #000000;
    display: none;
}

#rb2,
#rb4,
#rb6,
#rb8,
#rb10,
#rb12,
#rb14,
#rb16,
#rb18,
#rb20,
#rb22,
#rb24,
#rb26,
#rb28,
#rb30,
#rb32,
#rb34,
#rb36,
#rb38,
#rb40,
#rb42,
#rb44,
#rb46,
#rb48,
#rb50,
#rb52,
#rb54,
#rb56,
#rb58,
#rb60{
    background-color: #000000;
    display: none;
}

.color1 {
    background-color: #000000;
    opacity: 1;
}

.color2 {
    background-color: #000000;
    opacity: 1;
}

.color3 {
    background-color: #000000;
    opacity: 1;
}

.color4 {
    background-color: #000000;
    opacity: 1;
}

.color5 {
    background-color: #000000;
    opacity: 1;
}

.color6 {
    background-color: #000000;
    opacity: 1;
}