#all_content {
    width: 100px;
    height: 2200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(pix/bkg.gif);
    position: relative;
}

#banner {
    background-color: red;
    height: 92px;
    width: 100%;
    margin-top: auto;
    color: #000000;
    font-size: 24px;
    font-family: cursive;
    display: block;
    letter-spacing: 3px;
    vertical-align: middle;
}

#leftlinks {
    width: 150px;
    height: 2100px;
    float: left;
}

#right_side_content {
    color: white;
    width: 850px;
    height: 2100px;
    float: left;
}

body {
    background-color: purple;
}

bb1 {
    border: 1px solid #1394ce;
    width: 245px;
    height: 357px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

bb2 {
    border: 1px solid #1394ce;
    width: 311px;
    height: 233px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

bb3 {
    border: 1px solid #1394ce;
    width: 333px;
    height: 250px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

bb4 {
    border: 1px solid #1394ce;
    width: 108px;
    height: 144px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

m1 {
    border: 1px solid #1394ce;
    width: 800px;
    height: 600px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

m2 {
    border: 1px solid #1394ce;
    width: 287px;
    height: 386px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

m3 {
    border: 1px solid #1394ce;
    width: 281px;
    height: 412px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

m4 {
    border: 1px solid #1394ce;
    width: 579px;
    height: 368px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

w3 {
    border: 1px solid #1394ce;
    width: 400;
    height: 300px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}