@charset "UTF-8";
.center {
	height: 1125px;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
.actiondivs {
	float: left;
	height: 200px;
	width: 300px;
	background-color: #000;
}
#picdiv {
	float: left;
	height: 200px;
	width: 300px;
	background-image: url(images/mid.jpg);	
}
