form input[type=submit] {
    font-size: 30px;
    color: #fff;
    border: none;
    background-color: aquamarine;
    margin: 10px 0px 5px 0px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}

form input[type=submit]:hover { background-color: crimson }