@charset "UTF-8";
#display-text {
	position: absolute;
	height: 31px;
	width: 233px;
	border: 1px solid #000;
	background-color: #CCC;
	left: 111px;
	top: 225px;
	border-radius: 8px;
	padding-top: 4px;
	padding-left: 5px;
}
